<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/food.css" />
    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    
  </head>
  <body>
    <div
      class="header"
      style="height: 68vh; background-image: url('/img/bg.avif')"
    >
      <!-- Content here -->
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <div style="color: white">
            <a
              class="navbar-brand"
              style="color: white; font-weight: 900px; font-size: 50px"
              href="#"
              >Food-Santa</a
            >
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div>
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  style="font-size: 20px; color: white"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  style="color: white"
                >
                  <img
                    src="user.photo.secure_url  "
                    alt="..."
                    style="width: 35px; height: 35px; border-radius: 45px 45px"
                  />
                  user.name 
                </a>
                <ul
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/api/v1/userdashboard/update">Profile</a></li>
                  <li><a class="dropdown-item" href="/api/v1/password/update">change password</a></li>
                  <li><a class="dropdown-item" href="/api/v1/admin/users">all user</a></li>
                  <li><a class="dropdown-item" href="/api/v1/admin/product/add">add product</a></li>
                  <li><a class="dropdown-item" href="/api/v1/admin/products">allproduct</a></li>
                  <li><a class="dropdown-item" href="/api/v1/logout">Logout</a></li>
                </ul>
              </li>
              <li class="nav-item" style="margin-left: 20px; display: flex">
                <div class="num" id="cartnum">0</div>
                <a
                  class="nav-link"
                  href="/cart"
                  style="color: white; font-size: 30px"
                >
                  <i class="bi bi-basket2"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="product">
      <div class="row-product">
        <%  for (var i=0; i<products.length; i++){%>

          <div class="col-p ">
            <div class="img-p img-6">
              <img src="<%=products[i].photo.secure_url  %> " alt="" class="shop-item-img">
            </div>
            <div class="title-p">
              <div class="text-rating">
                <span id="name" class="shop-item-title"><%=products[i].name  %> </span>
                <span id="rating"><%=products[i].ratings  %> </span>
              </div>
              <span class="price">Price:</span>
              <span class="shop-item-price"><%=products[i].price  %> </span><br>
              <span class="price">Description:</span>
              <span><%=products[i].description  %> </span>
            </div>
  
            <div class="btn1">
              <button class="addbtn" >Add to Cart</button>
            </div>
          </div>

        <%  }%>
      </div>
    </div>

    <!-- footer -->
    <div class="footer-container">
      <div class="foot">
        <div class="footer-data">
          <div class="log-container">
            <div class="logo-text">
              <h1>FOOD-SANTA</h1>
            </div>
            <div class="data">
              <div class="data-list">
                <p>About FOOD-SANTA</p>
                <p>Who We Are</p>
                <p>Blog</p>
                <p>Investor Relations</p>
                <p>Report Fraud</p>
              </div>
              <div class="data-list">
                <p>ZOMAVERSE</p>
                <p>Santa-panda</p>
                <p>Feeding India</p>
                <p>Hyperpure</p>
                <p>Zomaland</p>
              </div>
              <div class="data-list">
                <div class="sub-data">
                  <p>FOR RESTAURANTS</p>
                  <p>Patner With Us</p>
                  <p>App for you</p>
                </div>
                <div class="sub-data">
                  <p>FOR ENTERPRISES</p>
                  <p>Santa-panda for Work</p>
                </div>
              </div>
              <div class="data-list">
                <p>LEARN MORE</p>
                <p>Privacy</p>
                <p>Security</p>
                <p>Terms</p>
                <p>Sitemap</p>
              </div>
            </div>
          </div>
          <div class="social">
            <h3>Social Links</h3>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-brands fa-twitter"></i>
          </div>
        </div>
        <div class="footer-title">
          <p>
            BY continuing past this page, you agree to our Terms of
            Servic,Cookie Policy,Privacy Policy and Content Policy.All
            trademarks are properties of their respetive owners 2022 &copy;
            Food-Santa Ltd All rights reserved.
          </p>
        </div>
      </div>
    </div>
    <script src="/js/food.js"></script>
  </body>
</html>
